/* Andy Bell's more modern css reset: */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end andy bell's reset*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #E7F1F1;
}

header {
    padding: 3.5rem 0 6rem;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
}

main {
    flex-grow: 1;
}

ul {
    list-style: none;
    margin: 0;
    margin-bottom: 6.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 720px) {
    ul {
        flex-direction: row;
    }
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.btn {
    font-size: 1.875rem;
    font-weight: 300;
    padding: 0.35rem 3.25rem;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0 3.25rem 0 3.25rem;
}

footer {
    margin: 0 auto;
    padding: 0.8rem;
}

small {
    font-size: 0.875rem;
}