/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 

Background color: #E7F1F1
Font: Poppins
Icons: Found here (Note: Add these icons to an assets folder in your repository.) */

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #E7F1F1;
}

header {
    padding: 7rem 0 6rem;
}

h1 {
    font-size: 5rem;

    text-transform: uppercase;
    font-weight: 900;
}

main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

section:nth-child(1) > .box {
    background-color: #EA9999;
}

section:nth-child(2) > .box {
    background-color: #FACB9C;
}

section:nth-child(3) > .box {
    background-color: #FFE59A;
}

section:nth-child(4) > .box {
    background-color: #B6D7A8;
}

section:nth-child(5) > .box {
    background-color: #A4C4CA;
}

p {
    font-size: 1.5rem;
    margin-top: 1.2rem;
}